h1{
    color: aquamarine;
    background-color:darkblue;
}
.navbar{
    font-size:x-large;
    
    background-color:aquamarine;
}

.imgs{
    border: 5px salmon;
}
h2{
    color:blue;
}
